{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}

    <div class="content p-5">
        <h1 class="h1 text-center">Modifier un article</h1>

        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_back_office') }}" class="btn btn-primary mt-4 ms-auto">Back office</a>

    </div>

{% endblock %}
